<%= link_to "Excluir este lançamento", @entry, method: :delete, data: { confirm: "Deseja excluir este lançamento?" }, class: "link-red" if can? :destroy, @entry %>

<div style="margin-top: 25px;"><%= render "form" %></div>