<div class="field">
  <span style="display: inline-block; width: 450px;"><%= form.label attribute, t("#{resource.class.name}.#{attribute.to_s}.field_name") %></span>
  <br />
  <%= form.text_area attribute %>
</div>