<div class="required">
  <% if resource.new_record? %>
    <div>Preencha o formulário abaixo. Os campos marcados em vermelho são obrigatórios.</div>
    <div>Passe o mouse sobre o ícone de interrogação para obter ajuda sobre o campo.</div>
  <% else %>
    <div>Preencha o formulário abaixo.</div>
    <div>Passe o mouse sobre o ícone de interrogação para obter ajuda sobre o campo.</div>
  <% end %>
</div>