body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif
}

a {
  text-decoration: none;
}

a:link {
  color: #214076;
}

a:visited {
  color: #214076;
}

a:hover {
  color: #214076;
  text-decoration: underline;
}

a:active {
  color: #214076;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  font-size: 13px;
  border-bottom: solid thin #787878;
}

table tbody tr {
  font-size: 12px;
  border-bottom: solid thin #C0C0C0;
}

table thead tr th {
  text-align: left;
}

table tbody tr td {
  text-align: left;
  height: 25px;
}

table tbody tr:hover {
  background-color: #D8D8D8;
}

table.auto {
  width: auto;
}

table.linkable tbody tr:hover {
  cursor: pointer;
}

table.no-border tbody tr {
  border-bottom: none;
}

table.no-hover tbody tr:hover {
  background-color: transparent;
}

.new {
  margin-bottom: 50px;
}

.new a {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 12px 8px;
  background: #4d90fe;
  border-color: #3079ed;
  border-radius: 3px;
}

.new a:hover {
  text-decoration: none;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-green {
  color: #009900;
}

.font-red {
  color: #FF0000;
}

.font-black {
  color: #000000;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.link-red {
  color: red !important;
}
.link-red:hover {
  color: red !important;
}

.back-gray {
  background-color: #D0D0D0;
}

.back-green {
  background-color: #80CC99;
}

.back-red {
  background-color: #FF6666;
}

.back-yellow {
  background-color: #FFFFA3;
}

.border {
  border: solid thin #808080;
}

.border-top {
  border-top: solid thin #808080;
}

.border-bottom {
  border-bottom: solid thin #808080;
}

.border-green {
  border: solid thin #009900;
}

.border-red {
  border: solid thin #FF0000;
}

.border-gray {
  border: solid thin #585858;
}

.padding {
  padding: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.margin {
  margin: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.center {
  text-align: center;
}

.invisible {
  display: none !important;
}

.breadcrumb {
  margin: 15px 40px;
  border-bottom: solid 2px #707070;
}

.breadcrumb span.last {
  color: #993333;
  font-style: italic;
}

.breadcrumb a {
  color: #1947D1;
  font-weight: bold;
}

.breadcrumb a:hover {
  color: #0029A3;
  text-decoration: none;
}

.header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0px 40px;
  background-color: #E0E0E0;
  border-radius: 8px;
  text-align: right;
}

.yield {
  margin: 25px 40px;
}

.flash {
  font-size: 16px;
  height: 25px;
  margin: 10px 40px;
}

.flash_notice {
  padding: 5px;
  background-color: #C1E6C1;
  border: solid thin 008A00;
  border-radius: 8px;
}

.flash_alert {
  padding: 5px;
  background-color: #FFCCCC;
  border: solid thin #CC0000;
  border-radius: 8px;
}

.paginator {
  font-size: 15px;
  margin-bottom: 10px;
}

form {
  padding: 40px 25px;
  border: solid thin #A0A0A0;
  border-radius: 8px;
}

form .field {
  margin-bottom: 10px;
}

form .field label {
  font-size: 12px;
  font-weight: bold;
  color: #27485b;
}

form .field input:focus, textarea:focus {
  border-color: #528CC7;
  box-shadow: 0 0 2px #528CC7;
}

form .field .field_error {
  font-size: 13px;
  font-style: italic;
  color: #FF0000;
  width: 500px;
}

form input[type="text"], input[type="password"], select {
  font-size: 16px;
  background-color: #FFFFB3;
  padding-left: 6px;
  margin-bottom: 10px;
  border: 1px solid #909090;
  border-radius: 5px;
  height: 28px;
  width: 460px;
  display: block;
}

form textarea {
  font-size: 16px;
  background-color: #FFFFB3;
  padding-left: 6px;
  margin-bottom: 10px;
  border: 1px solid #909090;
  border-radius: 5px;
  height: 100px;
  width: 460px;
  display: block;
}

form input[type="submit"] {
  font-weight: bold;
  color: white;
  padding: 4px 8px;
  margin-top: 15px;
  border: 1px solid #3079ED;
  border-radius: 5px;
  background: #4D90FE;
}